.etaps {
    position: relative;
    padding-bottom: 70px;
}
.absolute_effect_for_etaps {
    position: absolute;
    left: 0;
    top: 530px;
    width: 200px;
    height: 350px;
}

.test_line {
    opacity: 0;
    stroke-dasharray: 1277;
    animation: draw1 7s linear forwards;
    animation-delay: 0s;



    .first_line {
        transform: rotate(180deg) translateX(-669px);
        stroke-width: 27px;
        animation-delay: 7s;
        opacity: 0;
       stroke-dasharray: 1277;
       animation: draw1 2s linear forwards;
        
    }
    .second_line {
        animation-delay: 5s;
         opacity: 0;
        stroke-dasharray: 1277;
        animation: draw2 3s linear forwards;
    }
    .arrow_line {
        animation-delay: 4s;
         opacity: 0;
        stroke-dasharray: 1277;
        animation: draw3 4s linear forwards;
    
    }
  }
  @keyframes draw3 {
    0%  { 
        
        stroke-dashoffset: 1277; 
    }
    5% {
        opacity: 1;
        stroke-dashoffset: 1277; 
    }

    75% {
        stroke-dashoffset: 1277; 
    }
    100% { 
        opacity: 1;
        stroke-dashoffset: 0; 
    }
}

  @keyframes draw2 {
    0%  { 
        
        stroke-dashoffset: 1277; 
    }
    5% {
        opacity: 1;
    }
    35% {
        stroke-dashoffset: 1277; 
    }
    100% { 
        opacity: 1;
        stroke-dashoffset: 0; 
    }
}

  @keyframes draw1 {
    0%  { 
        
        stroke-dashoffset: 1277; 
    }
    5% {
        opacity: 1;
    }
    100% { 
        opacity: 1;
        stroke-dashoffset: 0; 
    }
}

.etaps_title {
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #302d2d;
    
    margin-bottom: 50px;
}
.etaps_prof {
    display: flex;
    margin-bottom: 70px;
    align-items: center;

}
.etaps_info {
    font-size: 21px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.4px;
    text-align: right;
    color: #302d2d;
    width: 600px;
}
.etaps-block {
    position: absolute;
    top: 200px;
    left: 165px;
    padding-right: 100px;
}
.etaps_number {
    font-size: 21px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: right;
    color: #000000;
    background-color: #ccdd47;
    border-radius: 50%;
    text-align: center;
    padding: 8px 25px 12px 25px;
    margin: 0px 35px;
    
}
.etaps_text {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #302d2d;
    width: 70%;
}
.line_animated {
    margin-left: -100px;
}
.sell_text {
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #302d2d;
}
.last_etaps-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -120px;
    margin-right: 150px;
}

@media (max-width: 1425px) {
    .line_animated {
        margin-left: -105px;
    }
}
@media (max-width: 1350px) {
    .last_etaps-wrap {
        margin-right: 0;
    }
    .line_animated {
        margin-left: -113px;
    }
}
@media (max-width: 1320px) {
    .line_animated {
        margin-left: -119px;
    }
}
@media (max-width: 1290px) {
    .line_animated {
        margin-left: -125px;
    }
}
@media (max-width: 1260px) {
    .line_animated {
        margin-left: -130px;
    }
}
@media (max-width: 1230px) {
    .line_animated {
        margin-left: -135px;
    }
}
@media (max-width: 1200px) {
    .etaps_prof {
        margin-bottom: 50px;
    }
    .line_animated {
        margin-left: -140px;
    }
}
@media (max-width: 1170px) {
    .line_animated {
        margin-left: -145px;
    }
}
@media (max-width: 1145px) {
    .line_animated {
        margin-left: -273px;
    }
    .etaps-block {
        left: 0;
    }
}
@media (max-width: 1081px) {
    .etaps-block {
        padding-right: 46px;
    }
    .line_animated {
        margin-left: -245px;
    }
}
@media (max-width: 1035px) {
    .line_animated {
        margin-left: -254px;
    }
} 
@media (max-width: 1035px) {
    .line_animated {
        margin-left: -260px;
    }
} 
@media (max-width: 980px) {
    .absolute_effect_for_etaps {
        display: none;
    }
    .line_animated {
        margin-left: -660px;
    }
    .last_etaps-wrap {
        align-items: center;
    }
    .etaps_prof {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
        text-align: justify;
    }
    .etaps-block {
        top: 95px;
        padding-right: 0;
        margin-left: 80px;
    }
    .etaps_info {
        text-align: left;
        max-width: 400px;
        position: relative;
        top: 40px;
        left: 123px;
    
    }
    .etaps_info-6 {
        top: 51px;
    }
    
}
@media (max-width: 717px) {
    .last_etaps-wrap {
        align-items: flex-end;
    }
    .etaps_text {
        width: 95%;
    }
}
@media (max-width: 577px) {
    .etaps-block {
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
    }
    .line_animated {
        display: none;
    }
    .last_etaps-wrap {
        margin-top: 20px;
        align-items: center;
    }
    .etaps_text {
        width: 100%;
    }
}
@media (max-width: 510px) {
    .etaps_number {
        padding: 0px 17px 3px 17px;
        margin: 0;
    }
    .etaps_info {
        max-width: unset;
        width: 95%;
        left: 55px;
        top: 33px;
        font-size: 20px;
        padding-right: 10px;
    }
    .etaps_info-6 {
        width: 87%;
        top: 54px;
    }
    .etaps_prof-6 {
        margin-top: -25px;

        .etaps_text {
            margin-top: 12px;
        }
    }
   
    
}
@media (max-width: 336px) {
    .etaps_info-2 {
        top: 43px;
    }
}