@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

@import 'rangeslider';
@import 'navigation';
@import 'header';
@import 'tariff';
@import 'calculator';
@import 'etaps';
@import 'preferens';
@import 'footer';







body {
	position: relative;
	padding: 0;
	margin: 0;
	// font-family: 'OpenSans-Regular', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #fff;
	
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
.container {
    width: 85%;
    margin: 0 auto;

}
.main-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.scroll_all {
  text-decoration: none;
}

.load_spin {
    display: none;
  }
  .error {
    font-size: 14px;
    color: #B1413F;
    padding-top: 5px;
    padding-left: 5px;
  
  }
  .form_true_img {
    width: 75px;
    margin: 0 auto;
    display: block;
    margin-bottom: 11px;
  }
  .footer__sub {
    text-align: center;
  }
 



  

  .rangeslider__fill, .rangeslider__handle {
    transition: all 0.2s ease 0s;
  }

  #last-form_cons {

    input:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
  
    @-webkit-keyframes autofill {
      to {
        color: #fff;
        background: transparent;
      }
    }

  }


.modal_form {

  input:-webkit-autofill {
    -webkit-animation-name: autofill_2;
    -webkit-animation-fill-mode: both;
  }


  @-webkit-keyframes autofill_2 {
    to {
        color: #242321;

      background: transparent;
    }
  }
 
}


.consultation_js, .submit_cons {

  transition: all .2s;

  &:hover {
    background-color: #b8cc1c;
  }
}

.consultation_nav {
  &:hover {
    border: 1px solid #b8cc1c;
  }
}


@media (max-width: 893px) {
  h3 {
    font-size: 24px !important;
  }
}